{% extends "base.html" %}
{% block content %}
<!-- Hero Image -->
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Lila Harz</h1>
        <h3 class="mb-5"><em>Care Guide</em></h3>
    </div>
</header>
<!-- Care Guide-->
<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="fas fa-sun"></i></span>
                <h4><strong>Sunlight</strong></h4>
                <p class="text-faded mb-0">Avoid leaving your resin pieces in direct sunlight as long exposure to the
                    products can discolour them.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="fas fa-baby"></i></span>
                <h4><strong>Out of Reach</strong></h4>
                <p class="text-faded mb-0">Please keep away your pieces away from & out of the reach of children.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="fas fa-hand-sparkles"></i></span>
                <h4><strong>Cleaning</strong></h4>
                <p class="text-faded mb-0">To clean your pieces use a microfibre cloth and warm water but do not
                    submerge in water.
                    Do not use harsh cleaning product as this can alter the surface of the resin.
                    Please do not place in the dishwasher or microwave.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="fas fa-hand-holding-heart"></i></span>
                <h4><strong>Things to Consider</strong></h4>
                <p class="text-faded mb-0">Due to the nature of resin bubbles may appear in your products, but this does
                    not affect the quality of the products - embrace the imperfections <i class="fas fa-heart"></i>.<br>
                    As these products are handmade, no one product will be the same so please keep this in my mind when
                    ordering. Products will be similar but not identical.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}