{% extends "base.html" %}
{% block content %}
<!-- Hero Image -->
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <div class="team-member">
            <img src="https://imagizer.imageshack.com/v2/320x240q90/924/Dg8shx.jpg" alt="Company Logo" class="mx-auto rounded-circle image-fluid">
        </div>
        <h2 class="mb-5"><em>Collections</em></h2>
    </div>
</header>
{% for product in products %}
<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">{{ product.product_name }}</div>
                            <p class="mb-0">{{ product.description }}</p>
                            {{ product.price }} + P&P
                        </div>
                    </div>
                    <img class="img-fluid" src="{{ product.image_source }}" alt="Resin Bookmark" />
                </a>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}