{% extends "base.html" %}
{% block content %}
<!-- Hero Image -->
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <div class="team-member">
            <img src="https://imagizer.imageshack.com/v2/320x240q90/924/Dg8shx.jpg" alt="Company Logo" class="mx-auto rounded-circle image-fluid">
        </div>
        <h2 class="mb-5"><em>Handcrafted Resin Homeware</em></h2>
    </div>
</header>
<!-- About-->
{% for about in lilaharz %}
<section class="content-section" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <h2 class="section-heading text-uppercase">{{ about.about }}</h2>
            <div class="col-lg-12">
                <div class="team-member">
                    <img src="{{ about.image_source }}" alt="" class="mx-auto rounded-circle image-fluid">
                    <p class="lead mb-5">{{ about.about_description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<!--Team-->

<section class="page-section" id="team">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle image-fluid"
                        src="https://imagizer.imageshack.com/v2/320x240q90/922/CgCb9B.jpg" alt="..." />
                    <h2 class="section-heading">Remi Collins</h2>
                    <p class="text-muted">Director</p>
                    <p class="lead mb-5"> Remi began making resin products having been sat feeling unproductive and fed
                        up with the Covid-19 pandemic.
                        A new hobby was needed after many failed attempts at finding a muse, including guitar (my poor
                        neighbours).
                        She first stumbled across resin on Instagram and began to research a list of products that were
                        needed.
                        When payday came around, Remi purchased the basics and the first cake stand was created! The
                        reaction on her social media was really positive, therefore,
                        she decided to really give resin a go! 8 months later and here we are. Lila Harz now has many
                        products from coasters to tables.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Testimonials -->
{% endblock %}