{% extends "base.html" %}
{% block content %}
<!-- About-->
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2 class="section-heading text-uppercase">About Us</h2>
                <div class="row">
            <div class="col-lg-12">
                <div class="team-member">
                    <img class="mx-auto rounded-circle image-fluid" src="#" alt="..." />
                <p class="lead mb-5">
                    Lila Harz is a small business specialising in handmade resin products based in Liverpool, UK.<br>
                    Lila Harz was launched in 2020, and has continued to gain a following, eventually operating from a
                    studio in Liverpool’s Creative Hub, The Baltic Triangle.<br>
                    Each product is made with the upmost precision to provide that luxurious and exclusive feel.<br>
                    Resin is a beautiful art with many finishes and colours that add an exquisite feel to any home.
                </p>
                <a class="btn btn-dark btn-xl" href="#collections">What We Offer</a>
            </div>
        </div>
    </div>
</section>
<section class="content-section bg-light" id="team-member">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
            <h2 class="section-heading text-uppercase">Meet Remi</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="team-member">
                    <img class="mx-auto rounded-circle image-fluid" src="static/img/1.jpg" alt="..." />
                    <h4>Remi Collins</h4>
                    <p class="text-muted">Director</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="lead mb-5">Remi began making resin products having been sat feeling unproductive and
                    fed up with the Covid-19 pandemic.<br>
                    A new hobby was needed after many failed attempts at finding a muse, including guitar (my poor
                    neighbours).<br>
                    She first stumbled across resin on Instagram and began to research a list of products that were
                    needed.<br>
                    When payday came around, Remi purchased the basics and the first cake stand was created!<br>
                    The reaction on her social media was really positive, therefore, she decided to really give resin a
                    go!<br>
                    8 months later and here we are. Lila Harz now has many products from coasters to tables.</p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
{% endblock %}