{% extends "base.html" %}
{% block content %}

<!-- Hero Image -->
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <div class="team-member">
            <img src="https://imagizer.imageshack.com/v2/320x240q90/924/Dg8shx.jpg" alt="Company Logo" class="mx-auto rounded-circle image-fluid">
        </div>
        <h2 class="mb-5"><em>Login</em></h2>
    </div>
</header>

<!-- Contact Form-->
<section class="page-section" id="contact">
    <div class="container">

        <section>
            <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-primary text-center" role="alert">
                        {{ message }}
                      </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>

        <form method="POST" id="contactForm" action="{{ url_for('login') }}">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input type="text" class="form-control" placeholder="Username" name="username" id="username" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password"minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    </div>
                </div>
            </div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton"
                    type="submit">Send Message</button></div>
        </form>
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0">Already Signed Up?</h5>
            <a href="{{ url_for('login') }}" class="stretched-link">Log In here!</a>
          </div>
        </div>
    </div>
</section>

{% endblock %}