{% extends "base.html" %}
{% block content %}
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
      <div class="team-member">
        <img src="https://imagizer.imageshack.com/v2/320x240q90/924/Dg8shx.jpg" alt="Company Logo" class="mx-auto rounded-circle image-fluid">
    </div>
        <h2 class="mb-5"><em>Wishlist</em></h2>
    </div>
</header>

    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">My Wish List</h5>
              <p class="card-text">We know there is so much to choose from, have a think and come back to your wish list.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
          </div>
{% endblock %}